* {
  margin: 0;
  padding: 0;
  border: border-box;
}

html {
  height: 100%;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  padding: 20px 100px;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;

}

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 60px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnlogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navigation .btnlogin-popup:hover {
  background: #fff;
  color: #162938;

}

footer {
  width: 100%;
  margin-top: 80px;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 100px 0px 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;

}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;

}



.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.logo {
  margin-left: 0px;
  width: 80px;
  margin-bottom: 30px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0px;
}

ul li {
  list-style: none;
  margin-bottom: 12px;

}

ul li a {
  text-decoration: none;
  color: #fff;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

form .fa {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fa {
  font-size: 16px;
  color: #ccc;
}

.social_icons .fa {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 50px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;

}

hr {
  width: 95%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  display: flex;
  text-align: center;
  align-items: center;

}

.underline {
  width: 100%;
  height: 5px;
  background-color: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 9;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0px;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }

  100% {
    left: 100%;
  }
}

@media(max-width: 700px) {
  footer {
    bottom: unset;
  }

  .col {
    flex-basis: 100%;


  }

  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 100%;
  }
}